<header>
    <nav>
        <a href="/">Animal Rescue</a>
        <ul>
            <li><a href="/animals">Animals</a></li>
            <li><a href="/animals/new">Add Animal</a></li>
        </ul>
    </nav>
</header>