<h2>Search Animals</h2>
<form action="/animals" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<% searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% animals.forEach(animal => { %>
    <div>
        <%= animal.name %>
    </div>
    <% }) %>